.main-layout{

display:flex;

background:#EEF4FB;

min-height:100vh;

}

.main-content{

margin-left:287px;

width:calc(100% - 287px);

transition:.35s;

}

.main-body{

padding:26px;

}

@media(max-width:992px){

.main-content{

margin-left:110px;

width:calc(100% - 110px);

}

}

@media(max-width:768px){

.main-content{

margin-left:98px;

width:calc(100% - 98px);

}

.main-body{

padding:16px;

}

}